---
import Carousel from '@/components/Carousel.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import SocialIcons from '@/components/SocialIcons.astro'
import { Button } from '@/components/ui/button'
import { SOCIAL_LINKS } from '@/consts'
import Layout from '@/layouts/Layout-center.astro'
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <div
    class="mx-auto grid max-w-[65rem] grid-cols-12 grid-rows-1 gap-2 md:grid-rows-3"
  >
    <div class="col-span-12 row-auto rounded-lg md:col-span-9 md:row-span-3">
      <div class="flex flex-col space-y-1.5 p-6">
        <h3 class="text-3xl leading-none font-medium">
          Hi, my name is Dawson :)
        </h3>
      </div>

      <div class="p-6 pt-0">
        <p class="text-muted-foreground mb-2 text-sm">
          I am a PhD student in the <Link
            href="https://cmse.msu.edu"
            class="text-foreground"
            underline
            external
          >
            Computational Mathematics, Science, and Engineering</Link
          >
          at Michigan State University. Passionate about using computation and data
          science for good. Grateful to be working with <Link
            href="https://dannycaballero.info"
            class="text-foreground"
            underline
            external>Danny Caballero</Link
          > and other folks in the <Link
            href="https://msu-cerl.github.io/"
            class="text-foreground"
            underline>Computational Education Research Lab (CERL)</Link
          >.
        </p>
        <Button
          variant="outline"
          size="sm"
          id="Resume"
          title="Resume"
          aria-label="Resume"
        >
          <a href="/files/resume.pdf" target="_blank" rel="noopener noreferrer"
            >Resume</a
          >
        </Button>
        <div class="mb-2"></div>
        <SocialIcons links={SOCIAL_LINKS} />
        
        
      </div>
    </div>
        <!-- <div class="col-span-12 row-auto rounded-lg md:col-span-2 row-start-4 col-start 1">
      <div class="flex flex-col space-y-1.5 p-6">
        <Button
          variant="outline"
          size="sm"
          id="Resume"
          title="Resume"
          aria-label="Resume"
        >
          <a href="/files/resume.pdf" target="_blank" rel="noopener noreferrer"
            >Resume</a
          >
        </Button>
      </div>
    </div> -->

    <div
      class="center relative col-span-12 col-start-1 flex max-w-[20rem] items-center overflow-hidden rounded-lg md:col-span-3 md:col-start-10 md:row-span-3"
    >
      <Carousel />
    </div>
  </div>
</Layout>
