---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Research" />
  <Breadcrumbs items={[{ label: 'Research', icon: 'lucide:info' }]} />

  <section>
        <blockquote class="text-muted-foreground italic text-xl">
          “If there is a book that you want to read, but it hasn’t been written yet, you must be the one to write it.”
        </blockquote> 
        <blockquote class="text-muted-foreground text-l italic" style="text-align: center">
        &mdash; Toni Morrison
        </blockquote>

      </br>

      <div class="flex flex-col gap-4">
        {projects.map((project) => <ProjectCard project={project} />)}
      </div>
  </section>
</Layout>
